.section-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 12px;
  margin: 30px auto;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-heading {
  font-size: 28px;
  color: #4b0082;
  text-align: center;
  margin-bottom: 15px;
}

.para {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  margin-bottom: 10px;
}

.highlight {
  font-size: 16px;
  color: #d41872;
  font-weight: bold;
  background: #ffe4f2;
  padding: 10px;
  border-left: 5px solid #ff5f6d;
}
.image {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}